body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(116,116,116,1) 100%);


}

*{
    box-sizing: border-box;
}
h1 {
    font-size: 3em;
    /* background-color: rgb(83, 53, 110); */
    padding: 1rem;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(248, 246, 247);
}

h2 {
    font-size: 3em;
    display: flex;
    justify-content: center;
}
h3{font-size: 1.5em;}
p{font-size: 1em;}
ul {
    list-style: none;

}
li{font-size: 1.20em;}
body{
    font-family: Arial,
    Helvetica,
    sans-serif;
    margin: 0%;
    background-color: rgb(168, 154, 180);
}
button{
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;

    color: rgb(243, 243, 243);
    background-color: rgb(98, 64, 131);
    
}
button:hover{
    background-color: rgb(71, 33, 107);
}
.container{
    
    margin: auto;
}
header{
    background-color: rgb(253, 253, 253);
}
header .logo{
    
    padding: 10px 20px;
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    background-color: rgb(23, 8, 37);
    border-radius: 12px;
}
header.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header nav{
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
header a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-bottom: 3px solid rgb(2, 2, 2);
}
header nav :hover {
    color: rgb(78, 50, 104);
}
#hero{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    color: rgb(112, 112, 112);
    /* background-image: url("images/infor.jpg"); */
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    
    
}
.main-titulo {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

#programas {
    /* background-color: rgb(30, 30, 30); */
    color: rgb(3, 3, 3);
    text-align: center;
    /* background-image: url(img.jpg); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

#programas .container {
    font-size: 20px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: 10px;
    background-color: rgb(228, 224, 224);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.6s;
    width: 40%
    
    
}

#programas p {
    display: none;
}

#nuestrosprogramas h2 {
    margin: 0%;
}

#caracteristicas .container {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 224, 224);
    color: rgb(2, 2, 2);
    padding: 70px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%
    
}

#somosPro {
    margin-left: 10px;
    font-size: 25;
    border: outset black;
    margin-top: 15px;

}

#caracteristicas .container{
    
    margin-block-start: 10px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
}

.container h2{
    font-size: 3rem;
}

.boto{
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
#programas .container{
    border-radius: 40px;
}
#hero .container2{
    display: flex;
   
    color: rgb(0, 0, 0);
    padding: 30px 600px;
    border-radius: 40px;
    background-color: rgb(228, 224, 224);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    width: 60%;
    

}

#hero .container2 h1{
    color: black;
    
}
